.delete {
    color:white;
    background-color:black;
    text-align: center;
    cursor: pointer;
}
.update {
    color:white;
    background-color:black;
    text-align: center;
    cursor: pointer;
}